@import "tailwindcss";

@theme {
  --color-background: #2c2e30;
  --color-background-secondary: #3B3D3F;
  --color-foreground: #fff;
  --color-neutral: #F2F2F3;
  --color-primary: #DC2626;
  --color-secondary: #989A9C;
  --color-tertiary: #0E0E0E;
}